* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	list-style: none;
}
ol, ul {
	list-style: none;
}
del {
	text-decoration: line-through;
}
body {
	font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #1C2C40;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 400;
}
input,textarea,select{
	font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
	font-weight: 400;
}

a{
	color: #1C2C40;
}
a:hover,.submit:hover{
	filter: alpha(opacity = 85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
p{
	line-height:1.6em;
	font-size: 16px;
	font-family: "GT-Eesti", Arial;
	font-weight: 400;
}
.hidden{
	display:none;
}
br.clear {
	clear: both;
	line-height: 0;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width:1040px;
}

@font-face {
    font-family: 'GT-Eesti';
    src: url("../fonts/GT-Eesti-Pro-Text-Light.woff2") format("woff2");
    src: url("../fonts/GT-Eesti-Pro-Text-Light.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Light.ttf") format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'GT-Eesti';
    src: url("../fonts/GT-Eesti-Pro-Text-Regular.woff2") format("woff2");
    src: url("../fonts/GT-Eesti-Pro-Text-Regular.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Regular.ttf") format("truetype");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: 'GT-Eesti';
    src: url("../fonts/GT-Eesti-Pro-Text-Medium.woff2") format("woff2");
    src: url("../fonts/GT-Eesti-Pro-Text-Medium.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Medium.ttf") format("truetype");
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: 'GT-Eesti';
    src: url("../fonts/GT-Eesti-Pro-Text-Bold.woff2") format("woff2");
    src: url("../fonts/GT-Eesti-Pro-Text-Bold.woff") format("woff"), url("../fonts/GT-Eesti-Pro-Text-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal
}
::placeholder {
  color: #C0CCDA;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #C0CCDA;
}

::-ms-input-placeholder {
  color: #C0CCDA;
}

:root {
  --main-bg-color: #23D3D3;
  --main-heading-color:#1C2C40;
}
header {
	height: 100px;
	display: flex;
	position: fixed;
	left: 0;
	top: 0%;
	justify-content: space-between;
	background-color: #fff;
	align-items: center;
	width: 100%;
	padding: 0px 32px 0px 32px;
	z-index:4;
    position: sticky;


}
header div.left {
	display: flex;


}
header div.left h1 {
	width: 110px;
	margin-right: 40px;

}
header div.left h1 a {
	display: block;

}
header div.left h1 a img {
	display: block;
	width: 100%;

}
header div.left ul {
	display: flex;
	align-items: center;

}
header div.left ul li {
	margin: 0px 40px 0px 0px;

}
header div.left ul li:last-child {
	margin: 0px 0px 0px 0px ;
}
header div.left ul li a {

}
header div.right {
	display: flex;


}
header div.right ul {
	display: flex;
	align-items: center;

}
header div.right ul li {
	margin: 0px 40px 0px 0px;
}

header div  ul li a {
	letter-spacing: 0.5px;

}
header div.right ul li:last-child {
	margin: 0px 0px 0px 0px;
}
header div.right ul li a.button {
	display: inline-block;
	padding: 12px 22px 12px 22px ;
	border-radius: 35px;
	background-color: var(--main-bg-color);

}
#spotlight {
	padding: 0px 0px 0px 0px;
	background: url(../images/bg.jpg) no-repeat;
	background-size: 1180px;
	background-position: right -220px bottom -100px;
	height: 680px;
	position: relative;
	z-index: 3;
	background-color: #fff;

}
#spotlight section.wrapper {

}
#spotlight section.container {
	width: 60%;
	padding: 105px 0px 0px 0px;


}
#spotlight section.container h1 {
	font-size: 53px;
	margin-bottom: 20px;
	font-weight: 700;

}
#spotlight section.container p {
	margin: 0px 0px 40px 0px;
	font-size: 20px;
	width: 80%;

}
#spotlight section.container a.button {
	padding: 24px 32px;
	display: inline-block;
	background-color: var(--main-bg-color);
	color: #fff;
	margin: 0px 0px 20px 0px;
	font-size: 15px;
	border-radius: 35px;


}
#spotlight section.container div {
	display: flex;
	align-items: center;
	font-size: 15px;

}
#spotlight section.container div  img {
	margin: 0px 0px 0px 15px;

}
#services {
	padding: 140px 0px 0px 0px;
	position: relative;
	z-index: 3;
	background-color: #fff;

}
#services section.top {
	margin: 0px 0px 60px 0px;
	text-align: center;

}
#services section.top section.wrapper {

}
#services section.top div.arrow {
	margin: 0px 0px 40px 0px ;

}
#services section.top div.arrow  img {
	box-shadow:0px 4px 10px 1px rgba(0,0,0,0.3) ;
	border-radius: 50%;


}
#services section.top h6 {
	font-size: 18px;
	margin: 0px 0px 40px 0px;
	font-weight: 500;

}
#services section.top h3 {
	width: 600px;
	margin: 0 auto;
	font-size: 53px;
	font-weight: 700;
}
#services section.contend {
	background: url(../images/whatis-bg.jpg) no-repeat;
	background-position: center right -300px;
	background-size: auto 109%;


}
#services section.contend  section.wrapper {

}
#services section.contend div.item {
	margin: 0px 0px 120px 0px;

}
#services section.contend div.items {
	max-width: 360px;
} 

#services section.contend div.item h4 {
	margin: 0px 0px 24px 0px ;
	font-size: 24px;
	font-weight: 700;

}
#services section.contend div.item h4  span {
	background: var(--main-bg-color);
	padding: 5px 6px ;
	display: inline-block;
	border-radius: 5px;
	color: #fff;
	font-size: 19px;
	margin: 0px 5px 0px 0px;

}
#services section.contend div.item p {
	font-size: 20px;
	margin: 0px 0px 30px 0px;

}
#services section.contend div.item a.button {
	padding: 8px 15px;
	font-size: 15px;
	display: inline-block;
	border-radius: 20px;
	border: 1px solid #444;
	font-weight: 700;

}
#services hr.line {
	border-bottom: 0.5px dotted #444;
	margin: 0 20%;
}
#middle {
	padding: 120px 20% 0px 20%;
	background: #fff;
	position: relative;
	z-index: 3;

}
#middle section.wrapper {
	align-items: center;

}
#middle ul {
	display: flex;
	justify-content: space-between;

}
#middle ul li {
	display: inline-block;


}
#middle ul li a {

}
#middle ul li img {
	display: inline-block;
	border-radius: 50%;
}
#middle ul li:nth-child(odd) {
	margin: 80px 0px 0px 0px ;
}
#middle div.content {
    margin: 130px 0px 120px 0px;
    text-align: center;
}
#middle div.content h4 {
    max-width: 700px;
    font-size: 40px;
    font-weight: 700;
    margin: 0px 0px 60px 0px;
}
#middle div.content p {
	font-size: 20px;
	line-height: 1.6em;
	max-width: 500px;
	margin: 0 auto;
}
#middle hr.line {
	border-bottom: 0.5px dotted #444;
	margin: 0 20%;

}
#testimonial {
	padding: 80px 0 120px ;
	background-color: #fff;
	padding-left: 20%;
	padding-right: 20%;
	position: relative;
	z-index: 3;

}
#testimonial section.wrapper {

}
#testimonial section.container {
	margin: 0px 0px 80px 0px;

}
#testimonial div.container div.item {
	text-align: center;


}
#testimonial div.container div.item p {
	max-width: 500px;
	font-size: 28px;
	margin: 0 auto;
	font-weight: 700;


}
#testimonial div.container div.item img {
	width: 80px;
	height: 80px;
	margin: 60px 0px 40px 0px ;
	border-radius: 50%;

}
#testimonial div.container div.item h6.name{
	font-size: 18px;
	margin: 0px 0px 8px 0px;
	font-weight: 500;

}
#testimonial div.container div.item span.adress {
	font-size: 18px;
	color: #8492a6;

}
#testimonial hr.line {
	border-bottom: 0.5px dotted #444;
	margin: 0 20%;
	margin-top: 10%;

}
#user-count {
	text-align: center;
	padding: 0px  100px ;
	background-color: #fff;
	padding-left: 20%;
	padding-right: 20%;
	padding: 0px 0px 50px 0px;
	position: relative;
	z-index: 3;

} 
#user-count section.wrapper {

}
#user-count  img {
	max-width: 360px;
	width: 100%;
	margin: 0 auto;
	display: inline-block;
	margin: 0px 0px 60px 0px;

}
#user-count p {
	font-size: 16px;
	color: #5a6679;
	margin: 0px 0px 60px 0px;

}
#user-count a {
	font-weight: 700;
	color: #fff;
	display: inline-block;
	background-color: var(--main-bg-color);
	padding: 18px 0;
	border-radius: 8px;
	width: 160px;
	
}
#faq {
	padding:120px 0;
	background: #ecf9ff;
	position: relative;
	z-index: 3;

}
#faq section.wrapper {

}
#faq section.top {
	margin-bottom: 40px;

}
#faq section.top h3 {
font-size: 28px;
font-weight: 700;
max-width: 300px;

}
#faq section.content {

}
#faq section.content section.tab-head {

}
#faq section.content section.tab-head ul {
	display: flex;

}
#faq section.content section.tab-head ul li {
	width: 32.33%;
	

}
#faq section.content section.tab-head ul li a {
	color: #8492a6;
	font-weight: 600;
	font-size: 20px;
	padding: 20px 60px 20px 40px;
	border-bottom: 1px solid rgba(28,44, 64,.1);
	display: inline-block;
	width: 100%;
	border-bottom: 1px ;


}
#faq section.content section.tab-head ul li a.active {
	border-bottom: 1px solid #23d3d3;
	color: #23d3d3;
}#faq section.content section.tab-head ul li a:hover {
	border-bottom: 1px solid #23d3d3;
	color: #23d3d3;
}
#faq section.content section.tab-body {

}
#faq section.content section.tab-body div.items {

}
#faq section.content section.tab-body div.items ul {
	display: flex;
	flex-wrap: wrap;

}
#faq section.content section.tab-body div.items ul li {
	width: 32%;
	border-bottom: 1px solid rgba(28,44, 64,.1);
	padding: 60px 30px 30px;


}
#faq section.content section.tab-body div.items ul li h4 {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 20px;

}
#faq section.content section.tab-body div.items ul li p {
	font-size: 18px;
	color: #5a6679;

}
#faq section.bottom {
	display: flex;
    align-items: center;
	border-bottom: 1px solid rgba(28,44, 64,.1);

}
#faq section.bottom div.img-container {
	width: 33%;
	align-items: center;
	justify-content: center;

}
#faq section.bottom div.img-container img {

}
#faq section.bottom div.content {
	display: flex;
	justify-content: space-between;
	justify-content: center;
	width: 80%;
	align-items: center;

}


#faq section.bottom div.content div.item {
	margin-left: 120px;

	

}
#faq section.bottom div.content div.item img {
	display: block;


}
#faq section.bottom div.content div.item a {
	color: var(--main-bg-color);
	font-size: 17px;

}
#faq section.bottom div.content div.item img a p {
	font-size: 17px;

}
#press { 
	background-color: #ecf9ff;
	position: relative;
	z-index: 3;
}

#press section.wrapper { 
	display: flex;
	align-items: center;

}

#press section.wrapper div.left { 

}

#press section.wrapper div.left h4 { 
	margin-right: 30px;
	font-size: 20px;
	font-weight: 700;
	white-space: nowrap;


}

#press section.wrapper div.right { 
	

}

#press section.wrapper div.right ul { 
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;

}

#press section.wrapper div.right ul li { 
	width: 33.33%;
	padding: 30px 20px;
	display: flex;
	align-items: center;
	text-align: center;

}

#press section.wrapper div.right ul li img { 
	display: inline-block;
	border-radius: 50%;
	margin-left: 20px;
	width: 100px;


}

#press section.wrapper div.right ul li span {

}

#promo { 
	background-color: var(--main-bg-color);
	padding: 120px 0;
	position: relative;
	z-index: 3;

}

#promo .wrapper { 

}

#promo .wrapper .top { 
	text-align: center;
	
}
#promo .wrapper .top h2 {
	font-size: 40px;
	font-weight: 700;
	max-width: 300px;
	margin: 0 auto 40px;

}
#promo .wrapper .top a.button {
	padding: 18px 60px;
	background-color: #fff;
	font-size: 16px;
	border-radius: 8px;
	display: inline-block;
	color: var(--main-bg-color);
	font-weight: 100;

}

#promo .wrapper .bottom { 
	margin-top: 180px;

}

#promo .wrapper .bottom ul {
	display: flex;
	justify-content: space-between; 

}

#promo .wrapper .bottom ul li { 
	width: 22%;
	display: flex;
	align-items: flex-start;
}

#promo .wrapper .bottom ul li img { 
	width: 20px;
	display: inline-block;


}

#promo .wrapper .bottom ul li span { 
color: #5a6679;
padding: 0 30px 0 20px;
max-width: 240px;
font-weight: 400;
line-height: 1.7em;

}
footer {
	padding: 100px 0px;
	background-color: hsl(222deg 29% 20%);
	position: relative;
	z-index: 3;

}
footer  section.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}
footer  section.top {
	display: flex;
	justify-content: space-between;
	
}
footer  section.top :nth-child(3) {
	margin: 0px 0px 0px 0px;
}
footer  section.top   div.item.large {
	max-width: 500px;
	margin: 0px 77px 0px 0px;

}
footer  section.top  div.item.large h1 {

}
footer  section.top  div.item.large h1 a {


}
footer  section.top  div.item.large h1 a img {

width:50%;

}
footer  section.top  div.item.large p {
	color: rgb(253, 247, 247);	
	font-size: 15px;
	font-weight: 500;

}
footer  section.top  div.item .large h1 a {

}
footer section.top div.item {
    display: flex;
    flex-direction: column;
    display: inline-block;
    margin: 0px 75px 0px 0px;
}
footer  section.top  div.item  h3 {
	color: #FFF;
	font-size: 25px;
	font-weight: 500;
}
footer  section.top  div.item ul {
	
	

}
footer  section.top  div.item ul li {
	margin: 10px 0px 0px 0px;

}
footer  section.top  div.item ul li a {
	color: #fff;
	font-size: 14px;
	font-weight: 500;

}
footer  section.top  div.item p {
	color: #fff;
	margin-top: 10px;
	font-weight: 500;

}
footer  section.top  div.item form {
	position: relative;

}
footer section.top div.item form input {
    width: 131%;
    padding: 5px 8px 5px 42px;
    font-size: 16px;
    display: block;
    background-color: #3c4858;
    border-radius: 8px;
    position: absolute;
    z-index: 0;
    height: 40px;
    font-size: 14px;
	margin-top: 10px;
}
footer section.top div.item form button {
    position: absolute;
    top: 24px;
    left: 223px;
}
footer  section.top  div.item form button img {
width: 13px;
display: inline-block;
transform: rotate(-90deg);
}

footer section.bottom {
	display: inline-block;
    justify-content: space-between;
    width: 100%;
    margin: 100px 0px 0px 0px;
}
footer section.bottom p.left {
color: hsl(215deg 15% 56%);
width: 100%;
margin: 0 auto;


}
footer section.bottom p.left b {
	color:var(--main-bg-color);
}


footer section.bottom div.social {
	text-align: end;

}
footer section.bottom div.social a {
	width: 100%;

}
footer section.bottom div.social a img {
	width: 2%;

}
#mask {
	height: 100vh;
	z-index: -2;
	position: relative;
	

}
#cover {
	height:100vh ;
	background-image: url(../images/mobile-devices-bg-2.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	padding: 150px 0;
	position: fixed;
	z-index: 0;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;

}
#cover section.wrapper {

}
#cover section.content {
	margin-left: 50%;

}
#cover section.content h2 {
	font-weight: 700;
	max-width: 400px;
	font-size: 53px;
	line-height: 1.4em;
	margin-bottom: 40px;

	

}
#cover section.content p {

	margin-bottom: 40px;
	max-width: 440px;
	line-height: 1.8em;
	color: #8a6679;
}
#cover section.content a.button {
	height: 52px;
	width: 160px;
	display: flex;
	justify-content: center;
	font-weight: 700;
	align-items: center;
	background-color: #1c2c40;
	color: #fff;
	border-radius: 8px;


}
#cover section.content a.button img {
	margin-right: 15px;
	display: inline-block;
	width: 20px;
	

}
@media all and (max-width: 1280px) {
	#spotlight {
		padding: 0px 0px 0px 0px;
}
@media all and (max-width:980px) {
	header div.left ul li a {
		display: none;
	}
	#spotlight {
		background: white;
	}
	#spotlight section.container  {
		width: 100%;
	}
	section.container h1 {
		text-align: center;
		
	}
	#spotlight section.container p {
		width: 100%;
	}
	#spotlight section.container div {
		width: 100%;
		display: block;
	}
	#services section.contend {
		background:#fff;
	}
	#services section.contend div.item {
		margin: 0px 0px 60px 0px;
		width: 100%;
	}
	#faq section.bottom div.content {
        width: 50%;
	}
	#press section.wrapper div.right ul li {
		width: auto;
	}
	#promo .wrapper .bottom ul {
		flex-wrap: wrap;
	}
	#promo .wrapper .bottom ul li {
		width: auto;
	}
	#promo {
		padding: 39px 0;
	}
	footer section.top {
		flex-wrap: wrap	; 
	}
	@media all and (max-width:768px) {
		#faq section.content section.tab-head ul {
			flex-wrap: wrap;
		}
		#faq section.content section.tab-head ul li {
			width: 100%;
		}
		#faq section.content section.tab-body div.items ul li {
			width: 48.5%;
		}
		#faq section.bottom div.content {
			flex-wrap: wrap;
		}
		#faq section.bottom div.content div.item {
			width: 100%;
			margin: 0px;
			margin-top: 25px;
		}
		#press section.wrapper {
			flex-direction: column;
		}
		#press section.wrapper div.right ul li {
			width: 50%;
			flex:auto;
		}
		
		footer section.top {
			justify-content: space-around;
		}
		footer section.top div.item {
			margin-top: 50px;
		}
		footer section.top div.item.large {
			margin: 50px 77px 0px 0px;
		}
		
		#cover {
			display: none;
		}
		#mask {
			display: none;
		}

}


@media all and (max-width:980px) {
	#services {
		padding: 10px 0px 0px 0px
	}
} 




@media all and (max-width:640px) {
	header div.right ul {
		display: none;
	}
	header {
		justify-content: center;
	}
	 header section.container h1 {
		font-size: 47px;
	}
	#spotlight section.container a.button {
		padding: 20px 29px;
	}
	#services section.top h3 {
		width: 300px;
		margin: 0 auto;
		font-size: 37px;
	}
	#middle ul li img {
		width: 67px;
	}
	#middle div.content p {
		font-size: 17px;
	}
	#middle div.content h4 {
		max-width: 700px;
		font-size: 35px;
		font-weight: 700;
		margin: 0px 0px 24px 0px;
	}
	#testimonial div.container div.item p {
		font-size: 19px;
	}
	#user-count img {
		width: 60%;
	}
	#faq section.content section.tab-body div.items ul li {
		width: 97%;
		text-align: center;
	}
	#faq section.bottom div.img-container img {
		width: 222px;
	}
	#faq section.bottom div.content div.item {
		width: 70%;
	}
	#press section.wrapper div.right ul li {
		width: 100%;
	}
	#promo .wrapper .bottom ul {
		flex-wrap: wrap;
		justify-content: center;
	}
	#promo .wrapper .bottom ul li {
		width: auto;
		margin-bottom: 20px;
	}
	footer {
		padding: 0;
	}
	footer section.top div.item.large h1 {
		text-align: center;
	}

footer section.top div.item.large p {
	text-align: center;
}


footer section.top div.item p {
	text-align: center;
}
footer section.top div.item form {
    display: flex;

}
footer section.top div.item form button {
    left: 193px;
}
footer section.bottom div.social {
    text-align: start;
}
footer section.bottom div.social a img {
    width: 3%;
}
header div.left {
	padding-left: 100px;
}




}
@media all and (max-width:480px) {
	#faq section.bottom div.img-container img {
		display: none;
	}
	#faq section.bottom div.content {
		width: 100%;
	}
	#faq section.bottom div.content div.item {
		width: 100%;
	}
	#spotlight section.container {
		padding: 16px 0px 0px 0px;
	}
	#services {
		padding: 8px 0px 0px 0px;
	}
	#middle ul {
		justify-content: center;
	}
	#middle div.content h4 {
		font-size: 32px;
	}
	footer {
		padding: 0px 0px 0px 20px;
	}
	footer section.bottom p.left {
		font-size: small;
	}
	
}





	













